<div class="text-center">
  <h1 class="d-inline-block text-color1 mt-3 mb-0 font-weight-bold"><img src="/assets/grad_cap1.png">CoursesApp</h1>
</div>
<div class="bg-light-transparent container text-center my-2 p-4">
  <p>
    To <span class="text-color1">Courses App</span> είναι μία εφαρμογή για φοιτητές του
    <a class="text-color2" href="http://di.uoa.gr">τμήματος Πληροφορικής και Τηλεπικοινωνιών</a> με την οποία οι τελευταίοι
    μπορούν να καταγράφουν και να παρακολουθούν τους βαθμούς τους στα μαθήματα του τμήματος και να
    βλέπουν τον μέσο όρο τους όπως και τα ECTs που έχουν μαζέψει.
  </p>
  <p>
    Ενώ μπορείτε να χρησιμοποιήσετε την εφαρμογή αυτήν χωρίς να δημιουργήσετε λογαριασμό, σας συνιστούμε
    να δημιουργήσετε προκειμένου οι βαθμοί σας σε μαθήματα να αποθηκευτούν μόνιμα.
  </p>
</div>
<div *ngIf="jwt === null; else loggedInHP" class="container p-4 text-left">
  <form [formGroup]="registerForm" id="registerForm" (submit)="registerStudent()" class="registerForm bg-light-transparent">
    <h2 class="text-center">Εγγραφή Φοιτητή</h2>

    <label class="mt-2 mb-0" for="emailInput">Email</label>
    <input [ngClass]="email.touched && email.hasError('email') ? 'invalid_field' : ''" formControlName="email"
           id="emailInput" class="form-control" type="email" name="email" required>
    <small *ngIf="email.touched && !email.valid && email.hasError('email')" class="d-block rounded text-danger">Λάθος μορφή email</small>

    <label class="mt-2 mb-0 " for="password1">Κωδικός</label>
    <input [ngClass]="newpassword.hasError('minlength') ? 'invalid_field' : ''" formControlName="newpassword"
           id="password1" class="form-control"  type="password" name="password1" required>
    <small *ngIf="newpassword.hasError('minlength')" class="d-block rounded text-danger">
      Για λόγους ασφαλείας χρειάζονται τουλάχστον 6 χαρακτήρες
    </small>

    <label class="mt-2 mb-0" for="password2">Επανάληψη κωδικού</label>
    <input [ngClass]="registerForm.hasError('mismatchingpasswords') ? 'invalid_field' : ''" formControlName="repassword"
           id="password2" class="form-control"  type="password" name="password2" required>
    <small *ngIf="registerForm.hasError('mismatchingpasswords')" class="d-block rounded text-danger">
      Ο κωδικός αυτός δεν ταιριάζει με τον προηγούμενο
    </small>

    <label class="mt-2 mb-0" for="firstNameInput">Όνομα</label>
    <input formControlName="firstname" id="firstNameInput" class="form-control"  type="text" name="firstname" required>

    <label class="mt-2 mb-0" for="lastNameInput">Επίθετο</label>
    <input formControlName="lastname" id="lastNameInput" class="form-control"  type="text" name="lastname" required>

    <div class="text-center mt-3">
      <button class="btn btn-success" type="submit">Εγγραφή</button>
    </div>
  </form>
</div>
<ng-template #loggedInHP>
  <!-- <div class="container bg-light-transparent"></div> -->
</ng-template>
