<div class="course">
  <div *ngIf="!this.editing; else editingTag">
    <div class="row mb-0">
      <div class="col-7">
        <h4 class="text-color3">{{course.title}}</h4>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger float-right" (click)="deleteCourse()" onClick="this.blur()">Διαγραφή</button>
        <button class="btn btn-warning mr-2 float-right" (click)="startEdit()" onClick="this.blur()">Επεξεργασία</button>
      </div>
    </div>
    <div class="row">
      <div class="col-2 pt-2">{{course.semester}}ο εξάμηνο</div>
      <div class="col-2 pt-2">{{course.ects}} ECTs</div>
      <div class="col-3 pt-2">{{this.getCategory()}}</div>
      <div class="col-3 pt-2">{{this.getType()}}</div>
    </div>
  </div>
  <ng-template #editingTag>
    <div class="row mb-0">
      <div class="col-7">
        <h4 class="text-color3">
          <input class="form-control" type="text" [value]="course.title" #titleRef>
        </h4>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-secondary float-right" (click)="cancelEdit()" onClick="this.blur()">Ακύρωση</button>
        <button class="btn btn-warning mr-2 float-right" (click)="updateCourse()" onClick="this.blur()">Αποθήκευση</button>
      </div>
    </div>
    <div class="row">
      <div class="col-2 pt-2">
        <div class="">
        <input class="d-inline form-control w-50" type="number" [value]="course.semester"
               onkeyup="this.value=this.value.replace(/[^(\d|.)]/,'')" #semesterRef>
        <div class="d-inline ml-2 w-25">Εξάμηνο</div>
        </div>
      </div>
      <div class="col-2 pt-2">
        <input class="d-inline form-control w-50" type="number" [value]="course.ects"
               onkeyup="this.value=this.value.replace(/[^(\d|.)]/,'')" #ectsRef>
        <div class="d-inline ml-2 w-25">ECTs</div>
      </div>
      <div class="col-3 pt-2">
        <select style="cursor: pointer" class="form-control" [value]="course.category" #categoryRef>
          <option value="core">Κορμός</option>
          <option value="A">Α Κατεύθυνση</option>
          <option value="B">Β Κατεύθυνση</option>
          <option value="optional_lab">Προαιρετικό Εργαστήριο</option>
          <option value="free">Ελεύθερο</option>
          <option value="general_education">Γενικής Παιδείας</option>
        </select>
      </div>
      <div class="col-3 pt-2">
        <select style="cursor: pointer" class="form-control" [value]="course.type" #typeRef>
          <option value="obligatory">Υποχρεωτικό</option>
          <option value="obligatory-by-choice">Κατά Επιλογήν Υποχρεωτικό</option>
          <option value="basic">Βασικό</option>
          <option value="optional">Προαιρετικό</option>
        </select>
      </div>
    </div>
  </ng-template>
</div>
