<!--The content below is only a placeholder and can be replaced.-->
<div class="main-body">
  <app-navbar (loggedIn)="getJWTandUser($event)" (selectedPage)="getCurrentPage($event)"></app-navbar>
  <div *ngIf="currentPage === 'courses'; else notCourses">
  <app-courses [jwt]="jwt"></app-courses>
</div>
<ng-template #notCourses>
  <div *ngIf="currentPage === 'profile'; else notCoursesNorProfile">
    <app-profile [jwt]="jwt"></app-profile>
  </div>
  <ng-template #notCoursesNorProfile>
    <app-homepage [jwt]="jwt"></app-homepage>
  </ng-template>
</ng-template>
</div>
