.main-body {
  min-height: 100vh;
  background-image: url("/assets/edu1.jpg");
  background-position: center;
  background-repeat: repeat-y;
  -webkit-background-size: cover;
  background-size: cover;
}
