<div class="courses-container">
  <div class="row">
    <div class="col-8">
      <!-- List of courses -->
      <div class="bg-light-transparent p-4">
        <h2 class="text-color2">Μαθήματα</h2>
        <hr>
        <div *ngFor="let c of courses">
          <app-course [course]="c" [jwt]="jwt" [user]="user"></app-course>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- Grade Average and ECTs total -->
      <div class="bg-light-transparent p-4">
        <h2 class="text-color2">Μέσος Όρος</h2>
        <hr>
        <div class="text-center grade">9.42</div>
      </div>
      <div class="bg-light-transparent p-4 mt-3">
        <h2 class="text-color2">Συγκεντρωμένα ECTs</h2>
        <hr>
        <div class="text-center ects">176 / 240</div>
      </div>
    </div>
  </div>
</div>
