.courses-container {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.coursesDiv {
  max-height: 75vh;
  overflow-y: auto;
}

.grade, .ects {
  font-size: 125%;
}

.subtitle {
  font-size: 80%;
  color: dimgrey;
}

.perfect_grade {
  color: #5cb85c;
}

.very_good_grade {
  color: #77b858;
}

.good_grade {
  color: #8bb857;
}

.okay_grade {
  color: #a1b852;
}

.bad_grade {
  color: #b89d54;
}

.failing_grade {
  color: #ff7355;
}
