<div class="courses-container">
  <div class="row">
    <div class="col-8">
      <!-- List of courses -->
      <div class="bg-light-transparent p-4">
        <h2 class="text-color2">Μαθήματα</h2>
        <hr>
        <div class="coursesDiv">
          <div *ngFor="let c of courses">
            <app-course [course]="c" [jwt]="jwt" [user]="user" (gradesChanged)="calculateAVGandECTS()"></app-course>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- Grade Average and ECTs total -->
      <div class="bg-light-transparent p-4">
        <h2 class="text-color2">Μέσος Όρος</h2>
        <hr>
        <div class="text-center grade"><h3 class="text-success">{{avgGrade}}</h3><span class="subtitle">από 10</span></div>
      </div>
      <div class="bg-light-transparent p-4 mt-3">
        <h2 class="text-color2">Συγκεντρωμένα ECTs</h2>
        <hr>
        <div class="text-center ects"><h3>{{totalEcts}}</h3><span class="subtitle">απο 240</span></div>
      </div>
    </div>
  </div>
</div>
