<div class="courses-container">
  <div class="row">
    <div class="col-2">
      <div class="bg-light-transparent p-4">
        <h2 class="text-color2">Φίλτρα</h2>
        <hr>
<!--    <h5 class="text-color3">Eξάμηνο:</h5>-->
        <form class="form-group mb-0">
          <select class="form-control" id="chooseSemester">
            <option value="0" selected>Όλα τα εξάμηνα</option>
            <option value="1">1o εξάμηνο</option>
            <option value="2">2o εξάμηνο</option>
            <option value="3">3o εξάμηνο</option>
            <option value="4">4o εξάμηνο</option>
            <option value="5">5o εξάμηνο</option>
            <option value="6">6o εξάμηνο</option>
            <option value="7">7o εξάμηνο</option>
            <option value="8">8o εξάμηνο</option>
          </select>
        </form>
        <hr>
<!--    <h5 class="text-color3">Ειδίκευση:</h5>-->
        <select class="form-control" id="chooseSpecification">
          <option value="0" selected>Όλες οι ειδικεύσεις</option>
          <option value="1">Ε1</option>
          <option value="2">Ε2</option>
          <option value="3">Ε3</option>
          <option value="4">Ε4</option>
          <option value="5">Ε5</option>
          <option value="6">Ε6</option>
        </select>
        <hr>
        <h5 class="text-color3">Κατηγορία</h5>
        <form class="form-group mb-0">
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="core">Κορμού</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="optional_lab">Προαιρετικά Εργαστήρια</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="A">Κατεύθυνση Α</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="B">Κατεύθυνση Β</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="general_education">Γενικής Παιδείας</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="free">Ελεύθερα</label></div>
        </form>
        <hr>
        <h5 class="text-color3">Τύπος</h5>
        <form class="form-group mb-0">
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="core">Υποχρεωτικά</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="optional_lab">Κατ'επιλογήν υποχρεωτικλα</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="A">Βασικά Ειδίκευσης</label></div>
          <div class="form-check"><label><input class="mr-3" type="checkbox" name="category" value="B">Προαιρετικά</label></div>
        </form>
      </div>
    </div>
    <div class="col-7">
      <!-- List of courses -->
      <div class="bg-light-transparent p-4">
        <h2 class="text-color2">Μαθήματα</h2>
        <hr>
        <div class="coursesDiv pr-2">
          <div *ngFor="let c of courses | coursesFilter: getCriteria()">
            <app-course [course]="c" [jwt]="jwt" [user]="user" (gradesChanged)="calculateAVGandECTS()"></app-course>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <!-- Grade Average and ECTs total -->
      <div class="bg-light-transparent p-4">
        <h2 class="text-color2">Μέσος Όρος</h2>
        <hr>
        <div class="text-center grade">
          <h3 [className]="getClassNameForAVG()">
            {{avgGrade}}
          </h3>
          <span class="subtitle">από 10</span>
        </div>
      </div>
      <div class="bg-light-transparent p-4 mt-3">
        <h2 class="text-color2">Συγκεντρωμένα ECTs</h2>
        <hr>
        <div class="text-center ects"><h3>{{totalEcts}}</h3><span class="subtitle">απο 240</span></div>
      </div>
    </div>
  </div>
</div>
