<nav id="mynavbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand text-color1" href="#"><h2>CoursesApp</h2></a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#" title="Login to unlock profile options!">Profile</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="email" placeholder="email" aria-label="Login">
      <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="Login">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
