#mynavbar {
  box-shadow: 0 2px 15px -2px #7b7d7f;
}

.logo-text {
  font-size: 125%;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif !important;
}

.nav-link {
  font-size: 125%;
}

.link-color1 {
  color: #5cb85c !important;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.link-color1:hover {
  color: #4d9a4d !important;
  border-bottom-color: #4D9A4D;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.navbar-brand:hover {
  color: #4D9A4D !important;
}

.isSelected {
  color: #5cb85c !important;
  border-bottom-color: #5cb85c;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

::-webkit-input-placeholder {
  font-size: 90%;
}

:-moz-placeholder {
  font-size: 90%;
}

::-moz-placeholder {
  font-size: 90%;
}

:-ms-input-placeholder {
  font-size: 90%;
}
