<nav id="mynavbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a routerLink="" class="navbar-brand text-color1 p-0 mr-sm-0 mr-3 mr-lg-5" (click)="select_page('homepage')">
    <img class="d-inline-block" style="height: 40%; width: 40%" src="/assets/grad_cap1.png">
    <span class="logo-text">CoursesApp</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-2">
        <a routerLink="/courses" id="courses_page" class="nav-link link-color1" (click)="select_page('courses')">Μαθήματα</a>
      </li>
      <div *ngIf="jwt === null; else loggedInBlock">
        <li class="nav-item tooltip-bottom" data-tooltip="Συνδεθείτε για να έχετε πρόσβαση στον λογαριασμό σας." style="cursor: default !important;">
          <a routerLink="/profile" class="nav-link disabled">Ο Λογαριασμός μου</a>
        </li>
      </div>
      <ng-template #loggedInBlock>
        <li class="nav-item">
          <a routerLink="/profile" id="profile_page" class="nav-link link-color1" (click)="select_page('profile')">Ο Λογαριασμός μου</a>
        </li>
      </ng-template>
    </ul>
    <div *ngIf="jwt === null; else loggedInBlock2">
      <form id="loginForm" (submit)="login()" class="form-inline my-2 my-lg-0">
        <input id="emailLogin" class="form-control mr-sm-2" type="email" placeholder="Εισάγετε το email σας" aria-label="Login" required>
        <input id="passwordLogin" class="form-control mr-sm-2" type="password" placeholder="Εισάγετε τον κωδικό σας" aria-label="Login" required>
        <button id="loginBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Σύνδεση</button>
      </form>
    </div>
    <ng-template #loggedInBlock2>
      <div *ngIf="user.isAdmin; else studentId">
        <h3 class="text-color3">{{this.user.email}}</h3>
      </div>
      <ng-template #studentId>
        <h3 class="text-color2">{{this.user.firstName}} {{this.user.lastName}}</h3>
      </ng-template>
      <button (click)="logout()" class="btn btn-outline-secondary ml-3">Αποσύνδεση</button>
    </ng-template>
  </div>
</nav>
<div id="loginNotAllowedToast" class="snackbar">Cannot login in offline mode</div>
