<div *ngIf="jwt !== null && user !== null; else forbidden">
  <div class="container bg-light-transparent mt-3 p-4">
    <!-- Student -->
    <div *ngIf="!user.isAdmin; else AdminPage">
      <h2 class="text-color2">{{user.firstName}} {{user.lastName}}</h2>
      <hr>
      <h3 class="text-color2">Αλλαγή προσωπικών στοιχείων</h3>
      <form [formGroup]="updateForm" (submit)="updateStudent()" id="updateForm" class="py-2">
        <label class="mb-0" for="emailInput">Email</label>
        <input [ngClass]="!email.valid ? 'invalid_field' : ''" formControlName="email"
        id="emailInput" class="form-control" type="email" name="email" [value]="user.email">
        <small *ngIf="!email.valid && email.hasError('email')" class="d-block rounded text-danger">Λάθος μορφή email</small>
        <small *ngIf="!email.valid && email.hasError('required')" class="d-block rounded text-danger">Υποχρεωτικό πεδίο</small>

        <label class="mt-2 mb-0" for="firstNameInput">Όνομα</label>
        <input  formControlName="firstname"
               id="firstNameInput" class="form-control" type="text" name="firstname" [value]="user.firstName">
        <small *ngIf="!firstname.valid && firstname.hasError('required')" class="d-block rounded text-danger">Υποχρεωτικό πεδίο</small>

        <label class="mt-2 mb-0" for="lastNameInput">Επίθετο</label>
        <input [ngClass]="!lastname.valid ? 'invalid_field' : ''" formControlName="lastname"
               id="lastNameInput" class="form-control" type="text" name="lastname" [value]="user.lastName">
        <small *ngIf="!lastname.valid && lastname.hasError('required')" class="d-block rounded text-danger">Υποχρεωτικό πεδίο</small>

        <div class="mt-3">
          <button class="btn btn-success d-inline-block mr-2" type="submit" onclick="this.blur();">Αποθήκευση</button>
          <button (click)="resetUpdateForm()" class="btn btn-outline-secondary d-inline-block" type="button"
                  onclick="this.blur();">Ακύρωση</button>
        </div>
      </form>
      <hr>
      <h3 class="text-color2">Αλλαγή κωδικού πρόσβασης</h3>
      <form [formGroup]="changePasswordForm" (submit)="changePassword()" id="changePasswordForm" class="py-2">
        <label class="mb-0" for="oldpassword">Παλιός κωδικός</label>
        <input formControlName="oldpassword" id="oldpassword" class="form-control" type="password" name="oldpassword">

        <label class="mt-2 mb-0 " for="newpassword">Νέος κωδικός</label>
        <input [ngClass]="newpassword.hasError('minlength') ? 'invalid_field' : ''" formControlName="newpassword"
               id="newpassword" class="form-control" type="password" name="newpassword">
        <small *ngIf="newpassword.hasError('minlength')" class="d-block rounded text-danger">
          Για λόγους ασφαλείας χρειάζονται τουλάχστον 6 χαρακτήρες
        </small>

        <label class="mt-2 mb-0" for="repassword">Επανάληψη νέου κωδικού</label>
        <input [ngClass]="changePasswordForm.hasError('mismatchingpasswords') ? 'invalid_field' : ''" formControlName="repassword"
               id="repassword" class="form-control" type="password" name="repassword">
        <small *ngIf="changePasswordForm.hasError('mismatchingpasswords')" class="d-block rounded text-danger">
          Ο κωδικός αυτός δεν ταιριάζει με τον προηγούμενο
        </small>

        <div class="mt-3">
          <button class="btn btn-success d-inline-block mr-2" type="submit" onclick="this.blur();">Αποθήκευση</button>
          <button class="btn btn-outline-secondary d-inline-block" type="reset" onclick="this.blur();">Ακύρωση</button>
        </div>
      </form>
      <hr>
      <button (click)="deleteAccount()" id="deleteAccountButton" class="btn btn-outline-danger mt-2" onclick="this.blur();">Διαγραφή Λογαριασμού</button>
    </div>
    <!-- Admin -->
    <ng-template #AdminPage>
      <h2 class="text-color3">{{user.email}}</h2>
      <hr>
      <h3 class="text-color3">Αλλαγή κωδικού πρόσβασης</h3>
      <form [formGroup]="changePasswordForm" (submit)="changePassword()" id="changePasswordForm" class="py-2">
        <label class="mb-0" for="oldpassword">Παλιός κωδικός</label>
        <input formControlName="oldpassword" id="oldpassword" class="form-control" type="password" name="oldpassword">

        <label class="mt-2 mb-0 " for="newpassword">Νέος κωδικός</label>
        <input [ngClass]="newpassword.hasError('minlength') ? 'invalid_field' : ''" formControlName="newpassword"
               id="newpassword" class="form-control" type="password" name="newpassword">
        <small *ngIf="newpassword.hasError('minlength')" class="d-block rounded text-danger">
          Για λόγους ασφαλείας χρειάζονται τουλάχστον 6 χαρακτήρες
        </small>

        <label class="mt-2 mb-0" for="repassword">Επανάληψη νέου κωδικού</label>
        <input [ngClass]="changePasswordForm.hasError('mismatchingpasswords') ? 'invalid_field' : ''" formControlName="repassword"
               id="repassword" class="form-control" type="password" name="repassword">
        <small *ngIf="changePasswordForm.hasError('mismatchingpasswords')" class="d-block rounded text-danger">
          Ο κωδικός αυτός δεν ταιριάζει με τον προηγούμενο
        </small>

        <div class="mt-3">
          <button class="btn btn-success d-inline-block mr-2" type="submit" onclick="this.blur();">Αποθήκευση</button>
          <button class="btn btn-outline-secondary d-inline-block" type="reset" onclick="this.blur();">Ακύρωση</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
<ng-template #forbidden>
  <div class="text-center">
    <h2>Απαγορεύεται η πρόσβαση</h2>
    <p>Δεν έχετε συνδεθεί.</p>
  </div>
</ng-template>
