<div *ngIf="jwt !== null && user !== null; else forbidden">
  <div class="container bg-light-transparent mt-3 p-4">
    <!-- Student -->
    <div *ngIf="!user.isAdmin; else AdminPage">
      <h1 class="text-color2">{{user.firstName}} {{user.lastName}}</h1>
      <hr>
      <h3 class="text-color2">Αλλαγή προσωπικών στοιχείων</h3>
      <form class="py-2">
        <label class="mt-2 mb-0" for="emailInput">Email</label>
        <input id="emailInput" class="form-control" type="email" name="email" [value]="user.email" required>

        <label class="mt-2 mb-0" for="firstNameInput">Όνομα</label>
        <input id="firstNameInput" class="form-control"  type="text" name="firstname" [value]="user.firstName" required>

        <label class="mt-2 mb-0" for="lastNameInput">Επίθετο</label>
        <input id="lastNameInput" class="form-control"  type="text" name="lastname" [value]="user.lastName" required>

        <div class="mt-4">
          <button class="btn btn-success d-inline-block mr-2">Αποθήκευση</button>
          <button class="btn btn-outline-secondary d-inline-block">Ακύρωση</button>
        </div>
      </form>
      <hr>
      <h3 class="text-color2">Αλλαγή κωδικού πρόσβασης</h3>
      <form class="py-2">
        <label class="mt-2 mb-0" for="oldpassword">Παλιός κωδικός</label>
        <input id="oldpassword" class="form-control"  type="password" name="oldpassword" required>

        <label class="mt-2 mb-0 " for="newpassword">Νέος κωδικός</label>
        <div class="d-inline-block float-right mt-1 tooltip-right" data-tooltip="Ο κωδικός σας θα πρέπει να είναι τουλάχιστον 6 χαρακτήρες.">
          <img style="height: 20px; width: 20px" src="/assets/help_icon.png">
        </div>
        <input id="newpassword" class="form-control"  type="password" name="newpassword" required>

        <label class="mt-2 mb-0" for="repassword">Επανάληψη νέου κωδικού</label>
        <input id="repassword" class="form-control"  type="password" name="repassword" required>
      </form>
      <hr>
      <button class="btn btn-outline-danger mt-2">Διαγραφή Λογαριασμού</button>
    </div>
    <!-- Admin -->
    <ng-template #AdminPage>
      <h2>Greetings admin {{user.email}}!</h2>
      <p>This page has not been implemented yet.</p>
    </ng-template>
  </div>
</div>
<ng-template #forbidden>
  <div class="text-center">
    <h2>Απαγορεύεται η πρόσβαση</h2>
    <p>Δεν έχετε συνδεθεί.</p>
  </div>
</ng-template>
