/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:500|Ubuntu&display=swap&subset=greek');*/


/* FONTS */
h1 , h2, h2 > * {
  font-family: 'Ubuntu', sans-serif !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}


/* GLOBAL COLORS */
.text-color1 {
  color: #5cb85c !important;
}

.text-color2 {
  color: cornflowerblue !important;
}

.text-color3 {
  color: #ffb252 !important;
}

.bg-color1 {
  background-color: #5cb85c !important;
}

.bg-color1 {
  background-color: cornflowerblue !important;
}

.bg-color1 {
  background-color: #ffb252 !important;
}

.bg-light-transparent {
  background-color: rgba(245, 245, 245, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* MACROS */
::-webkit-input-placeholder {
  color: darkgrey;
}

:-moz-placeholder {
  color: darkgrey;
}

::-moz-placeholder {
  color: darkgrey;
}

:-ms-input-placeholder {
  color: darkgrey;
}
