.course {
  margin-bottom: 10px;
  padding: 15px;
  background-color: whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*-moz-box-shadow:    inset 0 0 3px 1px #7b7d7f;*/
  /*-webkit-box-shadow: inset 0 0 3px 1px #7b7d7f;*/
  /*box-shadow:         inset 0 0 3px 1px #7b7d7f;*/
}

.passed_course_perfect {
  -moz-box-shadow:    inset 0 0 4px #2b9b1a;
  -webkit-box-shadow: inset 0 0 4px #2b9b1a;
  box-shadow:         inset 0 0 4px #2b9b1a;
}

.passed_course_very_good {
  -moz-box-shadow:    inset 0 0 4px #4c9b0b;
  -webkit-box-shadow: inset 0 0 4px #4c9b0b;
  box-shadow:         inset 0 0 4px #4c9b0b;
}

.passed_course_good {
  -moz-box-shadow:    inset 0 0 4px #5f9b0c;
  -webkit-box-shadow: inset 0 0 4px #5f9b0c;
  box-shadow:         inset 0 0 4px #5f9b0c;
}

.passed_course_okay {
  -moz-box-shadow:    inset 0 0 4px #7c9b0f;
  -webkit-box-shadow: inset 0 0 4px #7c9b0f;
  box-shadow:         inset 0 0 4px #7c9b0f;
}

.passed_course_bad {
  -moz-box-shadow:    inset 0 0 4px #9b7f16;
  -webkit-box-shadow: inset 0 0 4px #9b7f16;
  box-shadow:         inset 0 0 4px #9b7f16;
}

.failed_course {
  -moz-box-shadow:    inset 0 0 4px red;
  -webkit-box-shadow: inset 0 0 4px red;
  box-shadow:         inset 0 0 4px red;
}

.grade-input {
  margin-top: 3px;
  width: 50px;
  height: 64px;
  font-size: 140%;
}

.grade-holder {
  vertical-align: middle;
  margin-top: 15px;
}

.perfect_grade {
  color: #2b9b1a;
  font-weight: 500;
}

.very_good_grade {
  color: #4c9b0b;
  font-weight: 500;
}

.good_grade {
  color: #5f9b0c;
  font-weight: 500;
}

.okay_grade {
  color: #7c9b0f;
  font-weight: 500;
}

.bad_grade {
  color: #9b7f16;
  font-weight: 500;
}

.failing_grade {
  color: red;
  font-weight: 500;
}
