.course {
  margin-bottom: 10px;
  padding: 15px;
  background-color: whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.grade-input {
  max-width: 75px;
}

.failing_grade {
  color: red;
}
